<launch>
    <arg name="add_obstacle" default="false"/>
    <arg name="activate_gravity" default="false"/>
    <arg name="floating_gripper" default="false"/>
    <arg name="tipo_gripper" default="default_gripper"/>
    <param name="robot_description"
    command="$(find xacro)/xacro '$(find manipulacion_pkg)/urdf/robot.xacro'
          activate_gravity:=$(arg activate_gravity) 
          floating_gripper:=$(arg floating_gripper)
          tipo_gripper:=$(arg tipo_gripper)"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find manipulacion_pkg)/rviz/robot.rviz"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node name="set_initial_joint_states" pkg="manipulacion_pkg" type="set_initial_joint_states.py" output="screen" />

    <node name="publish_obstacle_rviz" pkg="manipulacion_pkg" type="publish_obstacle_rviz.py" output="screen" if="$(arg add_obstacle)"/>
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> -->
    <!-- </node> -->
	<!-- <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" /> -->
</launch>