<?xml version="1.0"?>
<launch>
  <param name="tipo_gripper" value="jaco"/>

  <rosparam file="$(find manipulacion_pkg)/config/grippers/jaco_hand_controllers.yaml" command="load"/>
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/" args="jaco_hand_joint_traj_controller jaco_hand_joint_state_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="50.0" />
  </node>

  <node name="set_grippers_initial_joint_positions" pkg="manipulacion_pkg" type="set_grippers_initial_joint_positions.py" output="screen">
  </node>


</launch>