<?xml version='1.0' encoding='ASCII'?>
<robot name="021_bleach_cleanser">
    <link name="object_021_bleach_cleanser_base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_simple.obj" scale="1.0 1.0 1.0"/>
            </geometry>
            <material name="texture">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_simple.obj" scale="1.0 1.0 1.0"/>
            </geometry>
        </collision>   
        <inertial>
            <mass value="1.1"/>
            <inertia ixx="0.001381591246944398" ixy="0.0" ixz="0.0" iyy="0.006178821659115613" iyz="0.0" izz="0.006719845129022663" />
        </inertial>
    </link>
</robot>