<?xml version='1.0' encoding='ASCII'?>
<robot name="011_banana">
    <link name="object_011_banana_base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_simple.obj" scale="1.0 1.0 1.0"/>
            </geometry>
            <material name="texture">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_simple.obj" scale="1.0 1.0 1.0"/>
            </geometry>
        </collision>   
        <inertial>
            <mass value="0.062"/>
            <inertia ixx="0.00022571771443348476" ixy="0.0" ixz="0.0" iyy="0.00017140544255496283" iyz="0.0" izz="6.82081480668325e-05" />
        </inertial>
    </link>
</robot>