<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="gripper" >

  <xacro:arg name="activate_gravity" default="false"/>
  <xacro:arg name="floating_gripper" default="false"/>
  <xacro:arg name="tipo_gripper" default="jaco"/>
  <xacro:property name="p_gripper_name" value="$(arg tipo_gripper)"/>

  <!-- When using schunk hand-->
  <xacro:if value="${p_gripper_name == 'schunk'}">
    <xacro:include filename="$(find manipulacion_pkg)/urdf/schunk_hand.xacro"/>
    <xacro:schunk_hand schunk_prefix="hand" parent="tool0"  mass_divider="1" finger_mass_divider="1" 
                    activate_gravity="$(arg activate_gravity)" floating_gripper="$(arg floating_gripper)">
      <origin xyz="0.0 0 0" rpy="0 -1.5708 0"/>
    </xacro:schunk_hand>
  </xacro:if>

  <xacro:if value="${p_gripper_name == 'robotiq'}">
    <xacro:include filename="$(find manipulacion_pkg)/urdf/robotiq_hand.xacro"/>
    <xacro:robotiq_3f_hand prefix="hand" parent="tool0"  mass_divider="1" finger_mass_divider="1" 
                    activate_gravity="$(arg activate_gravity)" floating_gripper="$(arg floating_gripper)">
      <origin xyz="0.0 0 0" rpy="0 0 1.5708"/>
    </xacro:robotiq_3f_hand>
  </xacro:if>

  <!-- When using jaco_hand -->
  <xacro:if value="${p_gripper_name == 'jaco'}">
    <xacro:include filename="$(find manipulacion_pkg)/urdf/jaco_hand.xacro" />
    <xacro:jaco_hand jaco_prefix="hand" parent="tool0"  mass_divider="1" finger_mass_divider="1" 
                    activate_gravity="$(arg activate_gravity)" floating_gripper="$(arg floating_gripper)">
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
    </xacro:jaco_hand>
  </xacro:if>

  <!-- world will be root link-->
  <link name="tool0" />
  <xacro:unless value="$(arg activate_gravity)">
    <gazebo reference="tool0">
      <kinematic>true</kinematic>
    </gazebo>
  </xacro:unless>
  <!-- Gazebo ros control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

</robot>