<?xml version="1.0"?>
<robot name="caja_simple_robot">
  <!-- Definición del único link con una caja como geometría de colisión y visualización -->
  <link name="link_caja">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <visual>
      <origin xyz="-0.085 0 0" rpy="0 0 0"/> 
      <geometry>
        <box size="0.21 0.2 0.1"/>
      </geometry>
      <material name="azul">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.085 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.2 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>

  <!-- Base del robot (no necesariamente requerido para un modelo estático, pero útil para definiciones completas) -->
  <link name="base_link">
  </link>

  <!-- Joint ficticio para conectar la base con el link de la caja -->
  <joint name="base_to_caja_joint" type="fixed">
    <parent link="base_link"/>
    <child link="link_caja"/>
    <origin xyz="0.0 0 0" rpy="0 0 0"/>
  </joint>
</robot>